<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Main Settings">
		<setting id="Adult" type="text" label="Adult Password:" default="" visible="true"/>
    </category>
	
    <category label="Personalise Main Menu">
		<setting id="Origin" type="bool" label="Origin" default="true"/>
		<setting id="Pandoras_Box" type="bool" label="Pandoras Box" default="true"/>
		<setting id="Pyramid" type="bool" label="Pyramid" default="true"/>
		<setting id="Freeview" type="bool" label="Freeview" default="true"/>
		<setting id="TV_Guide" type="bool" label="TV Guide" default="true"/>
		<setting id="Today's_Football" type="bool" label="Today's Football" default="true"/>
		<setting id="Latest_Episodes" type="bool" label="Latest Episodes" default="true"/>
		<setting id="Recent_Movies" type="bool" label="Recent Movies" default="true"/>
		<setting id="Favourites" type="bool" label="Favourites" default="true"/>
		<setting id="Search" type="bool" label="Search" default="true"/>
    </category>
	
    <category label="Select Search Sources">
		<setting id="Origin_Search" type="bool" label="Origin Search" default="true"/>
		<setting id="Pandoras_Box_Search" type="bool" label="Pandoras Box Search" default="true"/>
		<setting id="Pyramid_Search" type="bool" label="Pyramid Search" default="true"/>
		<setting id="Freeview_Search" type="bool" label="Freeview Search" default="true"/>
		<setting id="Ultra_Search" type="bool" label="Ultra" default="true"/>
    </category>	
	
	<category label="General">
		<setting id="list_all" type="bool" label="List All Possible Sources" default="true"/>
		<setting id="Only_Film" type="bool" label="Select all available Film On Source" default="false"/>
	</category>
	
	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
		<setting id="MAIN" type="number" label="MAIN" default="500" enable="!eq(-1,false)"/>
		<setting id="INFO" type="number" label="INFO" default="515" enable="!eq(-1,false)"/>
   	</category>

</settings>